html {
  font-size: 16px;
}

body {
   background-image: url("../img/background.png");
}

.navbar {
  background: black;
  color: grey;
  font-family: Helvetica,Arial,sans-serif;

  border-top: 5px solid maroon;

  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

  min-height: 50px;
  margin-bottom: 20px;
  z-index: 999;

}

.navbar-logo {
  margin-left: 50px;
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.version {
    font-size: 0.7rem;
}

.selector {
  margin-top: 1.5rem;
  float: right;
  height: 2rem;
}

.select-format {
  position: relative;
  display: inline-block;
  text-align: center;

  height: 2.5rem;
  width: 5.5rem;
  color: white;
  background-color: royalblue;
  border: 1px solid transparent;
  border-color: darkblue;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.container {
  font-family: Arial,sans-serif;

    width: 70rem;
    padding-right: 1.5rem;
    padding-left: 5rem;
    margin-top: 8.5rem;
    margin-right: auto;
    margin-left: 3rem;
}

.content-header {
  display: inline-block;
  text-align: center;
}

.request-info {
  margin-bottom: 20px;
}

.request {
  border-radius: 6px;
  background-color: ghostwhite;
  border: 1px solid lightgrey;
  line-height: 2rem;
}

.method {
  font-weight: bold;
  position: relative;
  padding-left: .75rem;
}

.codeBlock {
  background: transparent;
  background-color: rgba(0,0,0,1);
}

.language-http {
  text-transform: capitalize;
}

pre {
  border-radius: 1.5rem;
  background-color: ghostwhite;
  line-height: 2rem;
  background-color: transparent!important;
}
